main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  text-align: center;

  background-color: var(--gray-0);

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  .btn_back {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: var(--gray-4);
    font-weight: var(--font-weight-1);
    font-size: 1.5rem;
  
    &:hover {
      background-color: var(--gray-2);
      transition: background-color 0.2s ease-in-out;
    }
  }
}