.skills_section {
    background-color: var(--gray-0);

    display: flex;
    flex-direction: column;
    gap: 30px;

    height: auto;

    padding: 30px clamp(0.625rem, -2.7989rem + 15.2174vw, 9.375rem);

    h1 {
        font-weight: var(--font-weight-2);
        color: var(--gray-4);
        font-size: var(--font-size-3);
    }

    .icons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 25px;
        gap: 25px;
        color: var(--gray-2);

        i {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            font-size: clamp(3.75rem, 1.8261rem + 5.2174vw, 6rem);

            p {
                font-size: clamp(0.75rem, 0.6033rem + 0.6522vw, 1.125rem);
            }
        }
    }
}