header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    min-height: 20px;

    background-color: var(--gray-0);

    border-bottom: solid 3px var(--gray-4);

    div {
        height: 100%;

        display: flex;
        flex-direction: row;
        
        .victor {
            display: flex;
            align-items: center;
            gap: 5px;
            padding-inline: 10px;
    
            height: 100%;
    
            background-color: var(--gray-4);
    
            .victor_photo {
                height: 70%;
    
                border-radius: 360px;
            }
    
            h1 {
                font-weight: var(--font-weight-1);
                font-size: var(--font-size-1);
    
                color: var(--gray-0);
            }
    
            .verified_icon {
                height: 50%;
            }
        }
    
        nav {
            color: var(--gray-4);
            background-color: var(--gray-0);
            
            height: 100%;
    
            ul {
                height: 100%;

                color: var(--gray-4);
    
                display: flex;
                align-items: center;
                gap: 25px;
    
                padding-left: 20px;
    
                font-weight: var(--font-weight-3);
                font-size: var(--font-size-2);

                li {
                    a{
                        color: var(--gray-4);
                    }
                }
    
                li:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .darkmode_btn {
        color: var(--gray-4);
        font-size: 25px;
        padding-inline: 25px;
        height: 100%;
        cursor: pointer;
    }
}