footer {
    background-color: var(--gray-0);

    border-top: var(--gray-4) 2px solid;

    color: var(--gray-4);

    padding-inline: 1.875rem;

    height: 20vh;
    min-height: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer_victor {
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        h1 {
            font-size: var(--font-size-3);
        }

        p {
            font-size: var(--paragraph);
            color: var(--gray-1);
        }
    }

    .footer_more {
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .social_media {
            display: flex;
            flex-direction: row;
            gap: 5px;

            a{
                display: flex;
                color: var(--gray-4);

                .icons {
                    height: clamp(1rem, 0.7799rem + 0.9783vw, 1.5625rem);
                }
            }
        }
    }

    .more_info {
        color: var(--gray-0);
        transition: 0.5s;
    }
}

footer:hover {
    .footer_more{
        .more_info {
            color: var(--gray-1);

            cursor: pointer;
        }

        .more_info:hover {
            text-decoration: underline;
        }
    }
}