.about_section {
    background-color: black;
    color: white;

    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(0.3125rem, -0.788rem + 4.8913vw, 3.125rem);

    padding: 30px clamp(0.625rem, -2.7989rem + 15.2174vw, 9.375rem);

    line-height: 2.5;

    border-bottom: 1px solid white;

    .victor_photo {
        height: clamp(9.375rem, 6.9293rem + 10.8696vw, 15.625rem);

        border-radius: 360px;
    }
}