.about_section {
    background-color: var(--gray-0);
    color: var(--gray-4);

    height: auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: clamp(0.3125rem, -0.788rem + 4.8913vw, 3.125rem);

    padding: 30px clamp(0.625rem, -2.7989rem + 15.2174vw, 9.375rem);

    line-height: 2.5;

    border-bottom: 1px solid var(--gray-4);

    .victor {
        display: flex;
        flex-direction: column;

        .victor_photo {
            height: clamp(9.375rem, 6.9293rem + 10.8696vw, 15.625rem);

            border-radius: 360px;
        }

        .divisor {
            border-bottom: 1px solid var(--gray-4);
            margin-top: 5px;
        }

        small {
            color: var(--gray-4);
            display: flex;
            justify-content: center;
            font-size: 1em;

            a {
                color: var(--gray-4);
                font-weight: 700;

                border-left: 1px solid var(--gray-4);
                border-right: 1px solid var(--gray-4);
                border-bottom: 1px solid var(--gray-4);

                padding-inline: 10px;

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
            }

            a:hover {
                text-decoration: underline;
                color: var(--gray-2);
                border-left: 1px solid var(--gray-2);
                border-right: 1px solid var(--gray-2);
                border-bottom: 1px solid var(--gray-2);
            }
        }
    }

    .victor_description {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
            color: var(--color-text);
            font-size: clamp(1.125rem, 0.8804rem + 1.087vw, 1.75rem);
            line-height: 2rem;
            font-family: var(--font-family2);
        }

        p {
            line-height: 2rem;
            font-size: clamp(0.75rem, 0.6033rem + 0.6522vw, 1.125rem);
            font-family: var(--font-family2);

            a {
                color: var(--color-text);
                font-weight: var(--font-weight-1);
            }

            a:hover {
                background-color: var(--color-text);
                color: var(--gray-0);
                font-weight: var(--font-weight-1);
            }
        }

        .profile_buttons {
            display: flex;
            gap: 10px;

            a {
                color: var(--gray-4);
                border: none;
                background-color: var(--gray-0);

                padding-inline: 10px;

                font-size: 1.2em;
                font-style: italic;
                font-weight: 700;
            }

            a:hover{
                background-color: var(--color-text);
                color: var(--gray-0);
                border: 1px solid var(--color-text);
                text-decoration: underline;
            }
        }
    }
}